    <main class="form-signin w-100 m-auto px-4">
      <form id="frminicio">
        <h1 class="h3 mb-3 fw-normal">Bienvenido(a)</h1>
        <div class="form-floating py-2 px-1">
          <input type="email" class="form-control" id="correo" placeholder="correo@example.com" value=""/>
          <label id="tagcorreo" for="correo" class="bi bi-envelope"> Correo Electrónico</label>
        </div>
        <div class="form-floating py-2 px-1">
          <input type="password" class="form-control" id="clave" placeholder="Contraseña" value=""/>
          <label id="tagclave" for="clave" class="bi bi-key"> Contraseña</label>
        </div>
        <div id="msj" class="alert text-center" role="alert">* Todos los campos son obligatorios.</div>
        <button id="btn" class="btn btn-primary w-100 py-2" type="submit">Ingresar</button>
      </form>
    </main>
