    <main>
        <div class="py-2 px-2">
          <div class="card border-primary mb-3" >
            <div class="card-header text-bg-primary"><i class="bi bi-info-circle fs-5"> Acerca de</i></div>
            <div class="card-body">
              <h3 class="card-title">MiWebApp v1.0.0</h3>
              <p class="card-text">Hola, esta aplicación web fue desarrollada para evidenciar todos los conocimientos adquiridos en el
                BOOTCAMP (Desarrollo Web Full Stack) de <a href="https://bitinstitute.online/cursos-programacion-web/curso-full-stack-frontend-backend/"
                target="_blank">BIT - BOGOTÁ INSTITUTE OF TECHNOLOGY</a>.
              </p>
              <h4>Tecnologías usadas:</h4>
              <div class="row row-cols-1 row-cols-md-4 g-4">
              <div class="col">
                <div class="card h-100">
                  <img src="./img/html.png" class="card-img-top py-2" alt="Logo HTML">
                  <div class="card-body">
                    <h5 class="card-title">HTML</h5>
                    <p class="card-text">Es un lenguaje de marcado de hipertexto, que define la estructura y el contenido de una página web</p>
                      <a href="https://developer.mozilla.org/es/docs/Web/HTML" target="_blank" class="btn btn-primary">Saber más</a>
                    </div>
                </div>
              </div>
              <div class="col">
                <div class="card h-100">
                  <img src="./img/css.png" class="card-img-top py-2" alt="Logo CSS">
                  <div class="card-body">
                    <h5 class="card-title">CSS</h5>
                    <p class="card-text">Es un lenguaje de hojas de estilo en cascada que se utiliza para estilizar elementos de un HTML.</p>
                      <a href="https://developer.mozilla.org/es/docs/Web/CSS" target="_blank" class="btn btn-primary">Saber más</a>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card h-100">
                  <img src="./img/js.png" class="card-img-top py-2 px-2" alt="Logo JavaScript">
                  <div class="card-body">
                    <h5 class="card-title">JavaScript</h5>
                    <p class="card-text">Es un lenguaje de programación ampliamente utilizado para la creación de páginas web interactivas y dinámicas.</p>
                      <a href="https://developer.mozilla.org/es/docs/Web/JavaScript" target="_blank" class="btn btn-primary">Saber más</a>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card h-100">
                  <img src="./img/bootstrap.png" class="card-img-top py-2 px-2" alt="Logo Bootstrap">
                  <div class="card-body">
                    <h5 class="card-title">Bootstrap</h5>
                    <p class="card-text">Es un framework de código abierto utilizado en el desarrollo web front-end para crear páginas web responsivas.</p>
                      <a href="https://getbootstrap.com/docs/5.2/getting-started/introduction/" target="_blank" class="btn btn-primary">Saber más</a>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card h-100">
                  <img src="./img/angular.png" class="card-img-top py-2 px-2" alt="Logo Angular">
                  <div class="card-body">
                    <h5 class="card-title">Angular</h5>
                    <p class="card-text">Es un framework que se utiliza para construir aplicaciones web complejas y dinámicas, especialmente aplicaciones de una sola página (SPA).</p>
                      <a href="https://angular.dev/overview" target="_blank" class="btn btn-primary">Saber más</a>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card h-100">
                  <img src="./img/node.png" class="card-img-top py-2 px-2" alt="Logo Node">
                  <div class="card-body">
                    <h5 class="card-title">Node</h5>
                    <p class="card-text">Es un entorno de ejecución de JavaScript de código abierto y multiplataforma, que permite ejecutar código JavaScript fuera de un navegador web.</p>
                      <a href="https://getbootstrap.com/docs/5.2/getting-started/introduction/" target="_blank" class="btn btn-primary">Saber más</a>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card h-100">
                  <img src="./img/node.png" class="card-img-top py-2 px-2" alt="Logo Node">
                  <div class="card-body">
                    <h5 class="card-title">Express</h5>
                    <p class="card-text">Es un entorno de ejecución de JavaScript de código abierto y multiplataforma, que permite ejecutar código JavaScript fuera de un navegador web.</p>
                      <a href="https://getbootstrap.com/docs/5.2/getting-started/introduction/" target="_blank" class="btn btn-primary">Saber más</a>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card h-100">
                  <img src="./img/node.png" class="card-img-top py-2 px-2" alt="Logo Node">
                  <div class="card-body">
                    <h5 class="card-title">MongoDB</h5>
                    <p class="card-text">Es un entorno de ejecución de JavaScript de código abierto y multiplataforma, que permite ejecutar código JavaScript fuera de un navegador web.</p>
                      <a href="https://getbootstrap.com/docs/5.2/getting-started/introduction/" target="_blank" class="btn btn-primary">Saber más</a>
                  </div>
                </div>
              </div>
            </div>
            <hr>
            <h4>Ruta de Aprendizaje:</h4>
            <div class="text-center bg-black"><img src="./img/ruta.png" class="img-fluid" alt="Ruta de Aprendizaje"></div>
            </div>
          </div>
        </div>
    </main>
